Repository LaurierCS/Pod4F23, changes with the labels that .github/labeler.yml gives for each.
All labels: Web, API, Infra

.github/labeler.yml:

Web: web/*
API: api/*
Infra: .github/*

set SECRET_KEY and DEBUG as env variables
  api/optimeet/db.sqlite3
  api/optimeet/optimeet/.env
  api/optimeet/optimeet/settings.py
Labels: none

remove .env file
  api/optimeet/optimeet/.env
Labels: none

Setup template React app and add TailwindCSS
  web/meetup-facilitator/.eslintrc.cjs
  web/meetup-facilitator/.gitignore
  web/meetup-facilitator/README.md
  web/meetup-facilitator/index.html
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/postcss.config.js
  web/meetup-facilitator/public/vite.svg
  web/meetup-facilitator/src/App.css
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/assets/react.svg
  web/meetup-facilitator/src/index.css
  web/meetup-facilitator/src/main.jsx
  web/meetup-facilitator/tailwind.config.js
  web/meetup-facilitator/vite.config.js
Labels: none

readmechange
  README.md
Labels: none

Implement prompt to create a new group
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/assets/react.svg
  web/meetup-facilitator/src/components/Button.jsx
Labels: none

Add basic validation for empty input
  web/meetup-facilitator/src/App.jsx
Labels: none

Update .gitignore to ignore .env
  web/meetup-facilitator/.gitignore
Labels: none

Create groups route
  api/optimeet/db.sqlite3
  api/optimeet/groups/__init__.py
  api/optimeet/groups/admin.py
  api/optimeet/groups/apps.py
  api/optimeet/groups/migrations/0001_initial.py
  api/optimeet/groups/migrations/0002_remove_recommendation_group_and_more.py
  api/optimeet/groups/migrations/__init__.py
  api/optimeet/groups/models.py
  api/optimeet/groups/serializers.py
  api/optimeet/groups/tests.py
  api/optimeet/groups/urls.py
  api/optimeet/groups/views.py
  api/optimeet/optimeet/settings.py
  api/optimeet/optimeet/urls.py
Labels: none

remove group_id field which was already commented out
  api/optimeet/groups/models.py
Labels: none

Implement Google auth and getting user account details
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/main.jsx
Labels: none

Remove redundant state
  web/meetup-facilitator/src/App.jsx
Labels: none

remove GET from groups and POST from group_detail
  api/optimeet/groups/views.py
Labels: none

remove activities path that was commented out
  api/optimeet/optimeet/urls.py
Labels: none

remove activities from INSTALLED_APPS
  api/optimeet/optimeet/settings.py
Labels: none

add request paremeter to group_detail
  api/optimeet/groups/views.py
Labels: none

Separate pages into their own components for react-router
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/pages/Home.jsx
  web/meetup-facilitator/src/pages/Login.jsx
Labels: none

Complete implementation of routes and protected routes
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/MyContext.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/pages/Home.jsx
  web/meetup-facilitator/src/pages/Login.jsx
Labels: none

Config MySQL db, added README with instructions, and created requirements file
  api/.gitignore
  api/README.md
  api/optimeet/db.sqlite3
  api/optimeet/optimeet/settings.py
  api/optimeet/requirements.txt
Labels: API

update groups model
  api/optimeet/groups/models.py
  api/optimeet/groups/serializers.py
Labels: none

Revert "Chris/setup google auth"
  web/meetup-facilitator/.gitignore
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/main.jsx
Labels: none

create activities route
  api/optimeet/activities/Activities.csv
  api/optimeet/activities/Activities.json
  api/optimeet/activities/__init__.py
  api/optimeet/activities/admin.py
  api/optimeet/activities/apps.py
  api/optimeet/activities/migrations/__init__.py
  api/optimeet/activities/models.py
  api/optimeet/activities/tests.py
  api/optimeet/activities/urls.py
  api/optimeet/activities/views.py
  api/optimeet/optimeet/settings.py
  api/optimeet/optimeet/urls.py
Labels: none

remove activites.csv
  api/optimeet/activities/Activities.csv
Labels: none

move file loading to outside of the function
  api/optimeet/activities/views.py
Labels: none

Separate pages into their own components for react-router
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/pages/Home.jsx
  web/meetup-facilitator/src/pages/Login.jsx
Labels: none

Complete implementation of routes and protected routes
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/MyContext.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/pages/Home.jsx
  web/meetup-facilitator/src/pages/Login.jsx
Labels: none

Persist user auth on browser
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/MyContext.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/pages/Home.jsx
Labels: none

Delete MyContext.jsx
  web/meetup-facilitator/src/MyContext.jsx
Labels: none

Split login page back to its own route
  web/meetup-facilitator/src/App.jsx
  web/meetup-facilitator/src/components/Navbar.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/pages/Home.jsx
Labels: none

Add navbar to homepage
  web/meetup-facilitator/src/App.css
  web/meetup-facilitator/src/components/Navbar.jsx
Labels: none

Updated settings.py to connect to db using individual params
  api/optimeet/optimeet/settings.py
Labels: none

Remove trailing comma
  web/meetup-facilitator/src/main.jsx
Labels: none

Add .env to .gitignore
  web/.gitignore
Labels: Web

Use localStorage instead of sessionStorage
  web/meetup-facilitator/src/components/Navbar.jsx
  web/meetup-facilitator/src/features/GoogleAuth.jsx
  web/meetup-facilitator/src/pages/Home.jsx
Labels: none

Implmement sha256 hash of email and store in cookies
  web/meetup-facilitator/package-lock.json
  web/meetup-facilitator/package.json
  web/meetup-facilitator/src/features/GoogleAuth.jsx
Labels: none

Store hashed email in localStorage instead of cookies
  web/meetup-facilitator/src/features/GoogleAuth.jsx
Labels: none

update group model id
  api/optimeet/groups/migrations/0001_initial.py
  api/optimeet/groups/migrations/0002_remove_group_id_alter_group_group_id.py
  api/optimeet/groups/migrations/0002_remove_recommendation_group_and_more.py
  api/optimeet/groups/models.py
  api/optimeet/groups/views.py
  api/optimeet/optimeet/settings.py
Labels: none

fix id generation issue and remove default field values
  api/optimeet/groups/models.py
  api/optimeet/groups/views.py
Labels: none

add migrations and change db back from the testing one
  api/optimeet/groups/migrations/0003_alter_group_group_id.py
  api/optimeet/groups/migrations/0004_alter_group_group_id_alter_group_host_id_and_more.py
  api/optimeet/optimeet/settings.py
Labels: none

fix GET group by id and put id generation on serializers.py
  api/optimeet/groups/models.py
  api/optimeet/groups/serializers.py
  api/optimeet/groups/views.py
Labels: none

Move random id generator function to serializers.py
  api/optimeet/groups/models.py
  api/optimeet/groups/serializers.py
  api/optimeet/groups/views.py
  api/optimeet/optimeet/settings.py
Labels: none
